@import url('https://fonts.googleapis.com/css2?family=Abel&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Federant&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mozilla+Headline:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.hero_section{
  position: relative;
  height: 530px;
  width: 100%;
  overflow: hidden;
}
.hero_section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../src/assets/image.png');
  background-size: cover;
  background-position:  center;
  filter: brightness(30%) blur(5px);
  transform: scale (-1);
  z-index: 0;
}

.hero_section > * {
  position: relative;
  z-index: 1;
}
.slogan{
color: white;
font-size: 5rem;
font-family: "Merriweather", serif; 
position: relative;
top: 15%;
left: 2%;
letter-spacing: 10px;
width: 70%;
}
.programs_link{
color: white;
position: relative;
top: 10%;
left:3%;
font-size: 1.1rem;
}
.introducation_part{
height: 400px;
}
.intro_heading{
  font-size: 2.5rem;
font-family: "Merriweather", serif; 
text-align: center;
letter-spacing: 10px;
position: relative;
top: 10%;
}
.intro_para{
 font-family: "Titillium Web", sans-serif;
 font-size: 1.2rem;
 padding: 5%;
}
.rating{
display: flex;
column-gap: 100px;
margin-left: 12%;
margin-top: 5%;
}
.box1{
font-size: 2.5rem;
font-family: "Merriweather", serif;
text-align: center;
width: 20%;
box-shadow: 2px 10px 10px rgb(148, 148, 148);
background-color: #67c7ff;
color: white;
font-weight: bolder;
width: 20%;
padding: 1%;
border-radius: 10px;
}

.rating_heading{
font-family: "Titillium Web", sans-serif;
font-size: 1.3rem;
color: rgb(248, 244, 244);
font-weight: 600;
}
.why_choose{
  padding-left: 5%;
  text-decoration: underline;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 2px;
  /* padding-bottom: 2%; */
  font-weight: 500;

}
.popular_programs{
display: grid;
grid-template-columns: 33% 33% 33%;

}
.programs_2nd_small_container{
text-align: center;
border: 1px solid rgba(151, 208, 248, 0.689);
}
.program_heading{
position: relative;
top: 70%;
font-size: 1.2rem;
text-align: left;
padding-left: 20%;
color: white;
z-index: 1;
font-family: "Merriweather", serif
}

.img_of_programs{
/* border: 1px solid rgb(0, 38, 255); */
border-radius: 5px;
width: 90%;
height: 400px;
filter: brightness(50%) blur(1px)
}
.img_of_programs:hover{
  width: 91%;
  height: 410px;
  filter: brightness(90%) blur(0px)
}
.img_of_programs img{

}
.programs_learn_btn{
border: 1px solid rgb(255, 255, 255);
background: none;
position: relative;
bottom: 12%;
height: 30px;
color: white;
width: 60%;
font-family: "Titillium Web", sans-serif;
font-weight: 600;
}
.programs_learn_btn:hover{
  width: 61%;
  height: 32px;
font-size: 0.9rem;
box-shadow: 1px 1px 1px grey;
}
.programs_learn_btn:active{
  border: 1.9px solid white; 
}
.programs_main_heading{
  font-family: "Merriweather", serif;
  color: #67c7ff;
  text-align: center;
  margin-top: 10%;
  font-size: 3rem;
  padding: 0;
  margin-bottom: 2%;
}
.recent_news{
display: flex;
flex-direction: row;
background-color: #67c7ff;
margin-top: 10%;
color: white;
}

.news-info-container{
margin: 1%;
}
.recent_news-heading{
font-family: "Merriweather", serif;
font-size: 2.8rem;
letter-spacing: 0.8rem;
font-weight: 900;

}
.news-name{
font-family: "Titillium Web", sans-serif;
font-size: 1.9rem;
margin-bottom: 2%;
}
.news_date{
font-family: "Titillium Web", sans-serif;
margin: 0;
letter-spacing: 0.2rem;
}
.about-news{
font-family: "Titillium Web", sans-serif;
font-size: 0.9rem;
margin: 0;
}
.image-Container{
margin: 3%;

}
.news_actual-image{
  max-height: 350px;
 border-radius: 3px;
 margin-top: 4%;
 box-shadow: 2px 2px 5px rgba(37, 37, 37, 0.74);
}
.arrow-btns{
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  margin:1%;
}
.arrow-btns:hover{
  font-size: 1.8rem;
  color: rgb(214, 246, 253);
}
.arrow-btns:active{
 color: white;
  font-size: 1.5rem;
}
.contact{
display: flex;
flex-direction: row;
padding: 0% 15%;
}
.conact-us-heading{
margin-top: 5%;
font-family: "Merriweather", serif;
color: #67c7ff;
letter-spacing: 0.8rem;
text-align: center;
}
.contact_left_box{

}
.contact_right_box{

}
.footer{
display: flex;
flex-direction: row;
background-color: #67c7ff;
color: white;
/* justify-content: space-between; */
padding-top: 5%;
padding-bottom: 3%;
}
.footer-logo{

}
.box2{
padding-left:12%;
width: 60%;
}
.box3{
padding-left:10%;
width: 80%;
display: flex;
flex-direction: column;
}
.box4{
padding-left:0%;
width: 100%;
}
.for-links{
display: grid;
grid-template-columns: 10% 10% 10% 10%;
column-gap: 0px;
row-gap: 0px;

}
.footer-link-logo-apps{
max-width: 80%;
background-color: none;

}
.footer-link-logo-apps img{
 
}
.privacy{
text-decoration: none;
color: white;
}
.privacy:hover{
  text-decoration: underline;
}
.name_link{

}
.link-heading{
  margin: 0;
text-decoration: none;
color: white;

}
.link-heading:hover{
  text-decoration: underline;
}
.link-img{
  margin: 0;
  padding: 0;
  /* display: inline-block; */
  width: 100%;
}
.footer_line{
 color: white;
margin: 0;
  padding: 0;
}
.last-line-box{
  background-color:#67c7ff ;
  margin: 0;
  padding: 0;
}
.last-line{
  margin: 0;
  color: white;
  padding: 2%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 350;
  font-size: 1.1rem;
}
.mission{
 
}